html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
input{ border: none; outline: 0;font-size: 14px}
textarea{padding: 10px;font-size: 14px}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
font-size:14px;   
 /* WebKit browsers */   
color: #888;   
}   
input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
font-size:14px;   
/* Mozilla Firefox 4 to 18 */   
color: #888;   
}   
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
font-size:14px;   
 /* Mozilla Firefox 19+ */   
color: #888;   
}   
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
font-size:14px;   
 /* Internet Explorer 10+ */   
color: #888;   
}
body {
  background: #01303e;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  font-size: 12px;
  color: #444;
}

.f12{font-size: 12px !important;}
.f14{font-size: 14px !important;}
.f16{font-size: 16px !important;}
.f18{font-size: 18px !important;}
.f30{font-size: 30px !important;}
.f36{font-size: 36px !important;}

.col-28{width: 28%}
.col-25{width: 25%}
.col-11{width: 11%}
.col-8{width: 8%}
.col-9{width: 9%}
.col-13{width: 13%}
.col-10{width: 10%}
.col-50{width: 50%}
.col-56{width: 56%}
.col-55{width: 55%}
.col-22{width: 22%}
.col-45{width: 45%}
.col-20{width: 20%}
.col-15{width: 15%}
.col-33{width: 33%}
.col-17{width: 17%}
.col-18{width: 18%}
.col-14{width: 14%}
.col-35{width: 35%}
.col-65{width: 65%}
.col-60{width: 60%}
.col-40{width: 40%}
html{
  height: 100%;;
}

/* html,body{ overflow:scroll; min-height:100%;} 
html{ overflow:-moz-scrollbars-vertical;} */
.layout-body{/*三角箭头的颜色*/ scrollbar-arrow-color:#fff; /*滚动条滑块按钮的颜色*/ scrollbar-face-color:#fff; /*滚动条整体颜色*/ scrollbar-highlight-color:#fff; /*滚动条阴影*/ scrollbar-shadow-color:#fff; /*滚动条轨道颜色*/ scrollbar-track-color:#fff; }
.layout-body::-webkit-scrollbar {/*滚动条整体样式*/ width: 1px;     /*高宽分别对应横竖滚动条的尺寸*/ height: 1px; }
.layout-body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/ background-color: rgba(0,0,0,0);}
.layout-body::-webkit-scrollbar-track {/*滚动条里面轨道*/ background:  rgba(0,0,0,0); }
/*清除浮动代码*/ 
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 

/*公共*/
.bb{font-weight: bold;}
.blue{color: #3388bb !important;}
.red{color: #df0a0a !important;}
.grey{color: #888!important; }
.cWarmRed{color: red;font-weight: bold;}
.tl{text-align: left !important;}
.tr{text-align: right !important;}
.tc{text-align: center !important;}
.fl{float: left !important;}
.fr{float: right !important;}
.bb-1{border-bottom: 1px solid #999999;}
.mt10{margin-top: 10px !important;}
.bb0{border-bottom: none  !important;}
.bt0{border-top: none  !important;}
.fs50{font-size: 50px;}
.fs25{font-size: 25px;}
/*mint的loadmore组件样式全局调整 */
.loading-background, .mint-loadmore-top span {
  -webkit-transition: .2s linear;
  transition: .2s linear
}
.mint-loadmore-top span {
  display: inline-block;
  vertical-align: middle
}

.mint-loadmore-top span.is-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.page-loadmore .mint-spinner {
  display: inline-block;
  vertical-align: middle
}

.page-loadmore-desc {
  text-align: center;
  color: #666;
  padding-bottom: 5px
}

.page-loadmore-desc:last-of-type,
.page-loadmore-listitem {
  border-bottom: 1px solid #eee
}

.page-loadmore-listitem {
  height: 76px;
  line-height: 25px;
  text-align: left;
}

.page-loadmore-listitem:first-child {
  border-top: 1px solid #eee
}
.page-loadmore-list li{
  padding-top: 14px;
}
.page-loadmore-wrapper {
  overflow: scroll;
  /*为了抵掉顶部固定位及搜索框所占的高度*/
  margin-top: 25px; 
}

.mint-loadmore-bottom span {
  display: inline-block;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  vertical-align: middle
}

.mint-loadmore-bottom span.is-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.page-loadmore-desc:last-of-type, .page-loadmore-listitem{
  border-bottom: none;
}

.global-bg-line{
    background-color:#efeff4;
    height: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
  }

  
/*--------------------------------------flex start----------------------------------------*/
.flex-block{display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -moz-flex; display: -ms-flexbox; display: flex; }
/*横列左右居中*/
.rowCenter{-webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }
/*横列左右两端*/
.rowJustify{-webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; }
/*横列left*/
.rowStart{-webkit-box-pack:start;-ms-flex-pack: start;-webkit-justify-content: flex-start;-moz-justify-content: flex-start;justify-content:flex-start;}
/*横列垂直居中*/
.boxAlign{-webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center;}
/*横列垂直居底*/
.boxAlignEnd{-webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end;}
/*横列垂直居顶*/
.boxAlignStart{-webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start;}
/*flex 1*/
.flex1{-webkit-box-flex: 1;-webkit-flex: 1;-moz-box-flex: 1;-moz-flex: 1;-ms-flex: 1;flex:1;}
/*--------------------------------------flex  end-----------------------------------------*/
/* 全屏遮罩 */
.holdover{
  background: #333333ab;
  /* opacity: .8; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
/* ios顶部状态栏20px */
/* .env_ios_gClass .header{
 height: 70px !important;
 line-height: 1 !important;
 padding-top: 35px;
}
.env_ios_gClass .header .ivu-icon{
  top: 42px !important;
}
.env_ios_gClass .header .licon span{
  top: 45px !important;
} */
.env_ios_gClass  .con-box{
  margin-top: 85px !important;
}
.env_ios_gClass .mmp{
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 70px !important;
}
/* .env_ios_gClass  .new-footer-btns{
  height: 70px !important;
} */
.env_ios_gClass  .inducance{
  margin-bottom: 50px !important;
}
.blueToothManage.env_ios_class .blockHig{
  height: 60px;
  padding-top: 20px;
}
.env_ios_gClass .mListContain{
  padding-top: 80px;
}
/* x xs */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* ios顶部状态栏20px */
/*.env_ios_gClass .header{
   height: 80px !important;
  line-height: 1px !important;
  padding-top: 43px !important;
 }
 .env_ios_gClass .header .ivu-icon{
   top: 42px !important;
 }
 .env_ios_gClass .header .licon span{
   top: 45px !important;
 } */
 .env_ios_gClass  .con-box{
   margin-top: 85px !important;
 }
 .env_ios_gClass .mmp{
   margin-bottom: 70px !important;
 }
 .env_ios_gClass .appBtn{
   position: fixed;
   bottom: 0;
   width: 100%;
  height: 70px !important;
  line-height: 24px !important;
  padding-top: 15px
}
/* 提交按钮 */
.hideWid .down .confirm{
  height: 65px !important;
}
.hideWid .down.thinkness .b-t-btn-sub{
  height: 105px !important;
}
.hideWid .down.thinkness .b-t-btn-sub .subbtn{
  height: 65px !important;
}

}
/* xr */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
   /* ios顶部状态栏20px */
    /* .env_ios_gClass .header{
      height: 80px !important;
      line-height: 1px !important;
      padding-top: 43px !important;
    }
    .env_ios_gClass .header .ivu-icon{
      top: 42px !important;
    }
    .env_ios_gClass .header .licon span{
      top: 45px !important;
    } */
    .env_ios_gClass  .con-box{
      margin-top: 85px !important;
    }
    .env_ios_gClass .mmp{
      margin-bottom: 70px !important;
    }
    .env_ios_gClass .appBtn{
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 70px !important;
      line-height: 24px !important;
      padding-top: 15px
    }
    /* 提交按钮 */
.hideWid .down .confirm{
  height: 65px !important;
}
.hideWid .down.thinkness .b-t-btn-sub{
  height: 105px !important;
}
.hideWid .down.thinkness .b-t-btn-sub .subbtn{
  height: 65px !important;
}
    
}
/* xs max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
   /* ios顶部状态栏20px */
  /* .env_ios_gClass .header{
    height: 80px !important;
    line-height: 1px !important;
    padding-top: 43px !important;
  }
  .env_ios_gClass .header .ivu-icon{
    top: 42px !important;
  }
  .env_ios_gClass .header .licon span{
    top: 45px !important;
  } */
  .env_ios_gClass  .con-box{
    margin-top: 85px !important;
  }
  .env_ios_gClass .mmp{
    padding-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .env_ios_gClass .appBtn{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px !important;
  line-height: 24px !important;
  padding-top: 15px
  }
  /* 提交按钮 */
.hideWid .down .confirm{
  height: 65px !important;
}
.hideWid .down.thinkness .b-t-btn-sub{
  height: 105px !important;
}
.hideWid .down.thinkness .b-t-btn-sub .subbtn{
  height: 65px !important;
}
}